* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: quickSandMedium;
    src: url(./font/static/Quicksand-Medium.ttf);
}

@font-face {
    font-family: quickSandBold;
    src: url(./font/static/Quicksand-Bold.ttf);
}

:root {
    --icon--before: <i class="fa-solid fa-bars" ></i>;
}

.container {
    background-color: #ECF6FA;
    width: 100%;
    height: auto;
}

.navbar {
    padding: 25px 90px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -4px;
}

.navbar__img {
    width: 140px;
    height: 55px;
}

.navbar__img img {
    width: 100%;
    object-fit: cover;
}

.navbar__middle {
    display: flex;
    align-items: center;
    margin: -6px 24.5px 0px 0px;
}

.navbar__middle ul {
    gap: 29.5px;
    list-style: none;
    display: flex;
}

.navbar__text {
    font-family: quickSandBold;
    font-size: 0.8rem;
    line-height: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.95px;
    color: #333333;
}

.navbar__text:hover {
    color: #f35a38;
    transition: .4s linear;
}

.navbar__right {
    float: right;
    display: flex;
    position: relative;
    left: 4px;
    align-items: center;
    padding: 0px 5px 6px 0px;
}

.navbar__right i {
    font-size: 1.2rem;
    color: #4E5051;
}

.navbar__right .navbar__line {
    height: 18px;
    width: 50px;
    position: relative;
    cursor: pointer;
    margin: 5px 0px 0px 17px;
}

.navbar__right .line:nth-child(1) {
    position: absolute;
    height: 1.5px;
    transition: 0.2s linear;
    width: 40px;
    background-color: black;
    right: 0;
}

.navbar__right .line:nth-child(2) {
    position: absolute;
    height: 1.5px;
    width: 34px;
    transition: 0.2s linear;
    right: 0;
    background-color: black;
    bottom: 45%;
}

.navbar__right .line:nth-child(3) {
    width: 29.5px;
    transition: 0.2s linear;
    position: absolute;
    height: 1.5px;
    right: 0;
    background-color: black;
    bottom: 0;
}

.navbar__right .navbar__line:hover .line:nth-child(1) {
    transition: 0.2s linear;
    width: 25px;
}

.navbar__right .navbar__line:hover .line:nth-child(2) {
    transition: 0.2s linear;
    width: 30px;
}

.navbar__right .navbar__line:hover .line:nth-child(3) {
    transition: 0.2s linear;
    width: 35px;
}

.navbar_left {
    visibility: hidden;
}

@media only screen and (max-width: 1023px) {
    .navbar__middle {
        display: none;
    }

    .navbar {
        background-color: white;
        padding: 25px 0px 25px;
        position: relative;
    }

    .navbar__left {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -5.5px;
        left: 4.6%;
    }

    .navbar__right .line:nth-child(1) {
        width: 37px;
        height: 2.2px;
    }

    .navbar__right .line:nth-child(2) {
        width: 33px;
        height: 2.4px;
    }

    .navbar__right .line:nth-child(3) {
        width: 27.5px;
        height: 2.4px;
    }

    .navbar__right {
        left: -50px;
        padding: 0px 0px 15px 0px;
    }

    .navbar__right i {
        font-size: 1.15rem;
        margin-top: 3px;
    }

    .navbar__right .navbar__line {
        margin: 5px 0px 0px 13px;
    }

    .navbar__img {
        height: 50px;
        width: 137px;
    }

    .navbar::before {
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        content: "\f0c9";
        font-weight: 900;
        position: absolute;
        left: 6%;
        top: 34%;
    }
}

@media only screen and (max-width: 992px) {
    .navbar::before {
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        content: "\f0c9";
        font-weight: 900;
        position: absolute;
        left: 16.4%;
        top: 34%;
    }

    .navbar__left {
        left: 4.7%;
    }
}

@media only screen and (max-width: 500px) {
    .navbar__right {
        display: none;
    }

    .navbar__left {
        left: 0.55%;
        top: -5.4px;
    }

    .navbar__img {
        width: 137px;
    }

    .navbar::before {
        font-size: 18px;
        left: 7.2%;
        top: 34%;
    }
}

.body {
    padding: 0px 80px;
    background-color: #ECF6FA;
    width: 100%;
    height: 110vh;
}

.body__background {
    width: 100%;
    background-color: white;
    height: 100%;
    position: relative;
}

.body__img {
    position: absolute;
    width: 684px;
    height: 750px;
    left: 94px;
    top: 120px;
}

.body__img::after {
    position: absolute;
    content: "";
    width: 35%;
    height: 100%;
    right: -17px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 150%) repeat scroll 0 0;
}

.body__img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.body__img--content {
    position: absolute;
    color: #0e2258;
    top: 23%;
    right: -45%;
    font-family: quickSandMedium;
    z-index: 1;
}

.body__img--content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.body__img--content h1 {
    font-size: 68px;
    margin-bottom: 50px;
    line-height: 4.4rem;
}

.body__img--content span button {
    background-color: #F35A38;
    padding: 17.5px 35px;
    border: 0px;
    color: white;
    font-size: 14px;
    font-family: quickSandBold;
}

.ideas {
    display: inline-block;
    font-size: 68px;
}

.feature {
    padding: 0px 80px 0px;
    background-color: #ECF6FA;
    width: 100%;
    height: 48vh;
    font-family: quickSandBold;
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.feature__title {
    position: relative;
    top: 45.2%;
    text-align: center;
    width: 550px;
    margin-top: 1px;
}

.feature__title span {
    color: #F35A38;
}

.feature__title h2 {
    font-size: 36px;
    color: #0e2258;
    line-height: 43.1px;
    margin-top: 16px;
}

.feature__title ul {
    display: flex;
    list-style: none;
    margin-top: 23px;
    justify-content: center;
}

.feature__title ul .feature__line:nth-child(1) {
    width: 15px;
    height: 1.5px;
    background-color: #F35A38;
}

.feature__title ul .feature__line:nth-child(2) {
    width: 60px;
    height: 1.5px;
    background-color: #F35A38;
    margin: 0px 10px 0px 5px;
}

.feature__features {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 120px;
}

.feature__design,
.feature__development,
.feature__implement {
    width: 370px;
    height: 410px;
    border-radius: 30px;
    background-color: white;
    margin: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature__design:hover,
.feature__implement:hover {
    background: linear-gradient(to bottom, #f35a38 0%, #ff2339 100%) !important;
}

.feature__design:hover p,
.feature__design:hover h3,
.feature__design:hover span,
.feature__implement:hover p,
.feature__implement:hover h3,
.feature__implement:hover span {
    color: white;
    transition: 0.5s linear;
    animation: dropColor 0.5s linear;
}

@keyframes dropColor {
    0% {
        background: #f35a38;
    }

    100% {
        background: #ff2339;
    }
}

.feature__design:hover .feature__img,
.feature__implement:hover .feature__img {
    filter: brightness(0) invert(1);
    transition: 0.5s linear;
}

.feature__design:hover h3::after,
.feature__implement:hover h3::after {
    transition: 0.5s linear;
    background-color: white;
}

.feature__design span,
.feature__implement span {
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-family: quickSandBold;
    color: #0e2258;
    margin-top: 69px;
}

.feature__design p,
.feature__implement p {
    text-align: center;
    color: #797979;
    font-size: 14.43px;
    margin: 26px 34px;
    line-height: 24.3px;
    letter-spacing: 0.5px;
    font-family: 'Nunito';
}

.feature__design h3,
.feature__implement h3 {
    font-size: 13.3px;
    font-family: quickSandMedium;
    letter-spacing: 0.5px;
    position: relative;
    top: -1.5px;
    color: #696969;
    left: -10px;
}

.feature__design h3::after,
.feature__implement h3::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -19px;
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    background-color: #F35A38;
}

.feature__development span {
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-family: quickSandBold;
    color: white;
    margin-top: 69px;
}

.feature__img img {
    margin-top: 1px;
    width: 70.5px;
    height: 70.5px;
}

.feature__img {
    position: relative;
}

.feature__img::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100px;
    width: 100px;
    background: url(./img/8.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.07;
    top: 33%;
}

.feature__development .feature__img::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100px;
    width: 100px;
    background: url(./img/8.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0.07;
    top: 33%;
}

.feature__development {
    background: linear-gradient(to bottom, #f35a38 0%, #ff2339 100%) !important;
}

.feature__development p {
    text-align: center;
    color: white;
    font-size: 14.43px;
    margin: 26px 34px;
    line-height: 24.3px;
    letter-spacing: 0.5px;
    font-family: 'Nunito';
}

.feature__development h3 {
    font-size: 13.3px;
    font-family: quickSandMedium;
    letter-spacing: 0.5px;
    position: relative;
    top: -1.5px;
    color: white;
    left: -10px;
}

.feature__development h3::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -19px;
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    background-color: white;
}

.feature__development .feature__img img {
    filter: brightness(0) invert(1);
}

.brand {
    width: 100%;
    height: 1120px;
    background-color: white;
    position: relative;
}
.brand__background {
    width: 100%;
    height: 1060px;
    position: absolute;
    bottom:0;
}
.brand__background img {
    width: 100%;
    height: 100%;
}
.brand__img {
    width: 470px;
    height: 525px;
    position: absolute;
    top: 120px;
    left: 175px;
    z-index: 2;
}
.brand__img::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: #F8F9F9;
    left: 30px;
    top: 30px;
    z-index: -1;
}
.brand__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand__data {
    position: absolute;
    width: 245px;
    height: 185px;
    border-radius: 30px;
    top: 390px;
    left: 503px;
    background-color: #FFFFFF;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 48px;
    box-shadow: 0px 10px 30px 0px rgb(44 130 237 / 40%);
}
.brand__data h4{
    color: #F35A38;
    font-size: 50px;
    font-family: quickSandBold;
    float: left;
}
.brand__data p {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #666666;    
    line-height: 26px;
    font-size: 15px;
}
.brand-content {
    position: absolute;
    right: 153px;
    top: 170px;
    width: 560px;
}
.brand-content h5 {
    font-size: 36px;
    color: #0e2258;
    line-height: 43px;
    font-family: quickSandMedium;
}
.brand-content>p {
    font-family: Nunito;
    margin-top: 25px;
    color: #666666;
    font-size: 15px;
    line-height: 24px;
}
.brand__component {
    margin: 42px 0px 0px 75px;
}
.brand__component .brand__description p:nth-child(1){
    font-family: quickSandBold;
    font-size: 20px;
    color: #0e2258;
}
.brand__component ul {
    list-style: none;
}
.brand__component .brand__description p:nth-child(2) {
    margin-top: 15px;
    font-family: Nunito,sans-serif;
    font-size: 15px;
    color: #0e2258;
}
.brand__component .brand__description:nth-child(2){
    margin-top: 30px;
}
.brand__description::after{
    position: relative;
    font-family: "Font Awesome 6 Free";
    content: "\f058";
    left: -75px;
    top: -75px;
    font-size: 40px;
}
.brand-footer {
    position: absolute;
    bottom: 125px;
    left: 175px;    
}

.brand-footer__line,.achive-footer__line {
    height: 0.5px;
    color: #F35A38;
    background-color: #F35A38;
    width: 30px;
    display: block;
}
.brand-footer_description,.achive-footer_description {
    color: #F35A38;
    position: absolute;
    top: -9px;
    left: 46px;
    font-family: quickSandBold;
}
.brand-footer__left h5 ,.achive-footer__left h5 {
    font-size: 36px;
    color: #0e2258;
    line-height: 43px;
    font-family: quickSandMedium;
    width: 40%;
    padding-top: 35px;
}
.brand-footer__left .brand-footer_description2 ,.achive-footer__left .achive-footer_description2 {
    font-size: 15px;
    color: #666666;
    font-family: Nunito,sans-serif;
    width: 43%;
    margin-top: 27px;
}
.brand-footer__right {
    position: absolute;
    right: 7%;
    top: -10px;
}
.brand-footer__right p {
    font-size: 14px;
    font-family: quickSandBold;
    color: #0e2258;
}
.brand-footer__right ul {
    list-style: none;
}
.brand-footer__right li:nth-child(2),.brand-footer__right li:nth-child(3) {
    margin-top: 30px;
    width: 570px;
}
.brand-footer__right li span {
    height: 10px;
    background-color: #F35A38;
    display: block;
    border-radius: 20px;
    margin-top: 15px;
}
.brand-footer__right li:nth-child(1) span{
    width: 88%;
}
.brand-footer__right li:nth-child(2) span{
    width: 70%;
}
.brand-footer__right li:nth-child(3) span{
    width: 95%;
}
.brand-footer__right li:nth-child(1) span::after{
    content: "88%";
    position: absolute;
    width: 88%;
    height: 50px;
    top: 0;
    text-align: right;
    font-family: quickSandBold;
    font-size: 14px;
    color: #0e2258;
    cursor: text;
}
.brand-footer__right li:nth-child(2) span::after{
    content: "70%";
    color: #0e2258;
    position: absolute;
    width: 70%;
    height: 50px;
    top: 40%;
    cursor: text;
    font-size: 14px;
    text-align: right;
    font-family: quickSandBold;
}
.brand-footer__right li:nth-child(3) span::after{
    content: "95%";
    position: absolute;
    cursor: text;
    color: #0e2258;
    width: 95%;
    font-size: 14px;
    height: 50px;
    top: 75%;
    text-align: right;
    font-family: quickSandBold;
}
.digital{
    position: relative;
}
.digital .background__digital {
    width: 100%;
    height: 620px;
}
.background__digital img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 20% 0%;
}
.digital__box {
    background-color: #0E2258;
    position: absolute;
    width: 671px;
    height: 470px;
    top: 229.5px;
    left: 674px;
    padding: 55px 56px 0px 60px;
    z-index: 3;
}
.digital__box>h6 {
    font-size: 36px;
    font-family: quickSandBold,sans-serif;
    color: #ffffff;
    line-height: 43px;
}
.digital__box>p {
    font-size: 14.8px;
    color: #cccccc;
    font-family: Nunito,sans-serif;
    line-height: 24px;
    margin-top: 23px;
    margin-right: 1px;
}
.digital__content {
    padding-top: 30px;
    display: flex;
}
.digital__content h6 {
    font-size: 18px;
    line-height: 21.6px;
    color: #ffffff;
    font-family: quickSandMedium;
}
.digital_left {
    padding-right: 50px;
    border-right:1px solid #56648A;
}
.digital_right {
    padding-left: 50px;
}
.digital__content p {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: Nunito;
    margin-top: 5px;
}
.achive-footer {
    width: 100%;
    position: relative;
    height: 1015px;
    background-color: #ffffff;
}
.achive-footer__left {
    position: absolute;
    top: 383px;
    left: 175px;
}
.achive-footer__left h5 {
    width: 46%;
}
.achive-footer__left .achive-footer_description2{
    width: 50%;
}
.achive__rotate{
    position: absolute;
    opacity: 0.3;
    top: 250px;
    left: 40px;
}
.achive__rotate img {
    animation: rotate 20s linear infinite;
}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.achive__analyst {
    position: absolute;
    width: 43.5vw;
    height: 98vh;
    background-color: white;
    top: 20%;
    left: 44.5%;

}
.analyst__box {
    width: 320px;
    height: 292px;
    position: absolute;
    padding: 63px 40px;
    border: 1px #E7E7E7 solid;
    border-radius: 5px;
    transition: 0.2s linear;
}
.analyst__box:hover{
    box-shadow: 0 10px 30px 0 rgb(44 130 237 / 40%);
}
.analyst__box::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0E2258;
    top: 17%;
    left: 18.7%;
    opacity: 0.05;
}
.analyst__box:nth-child(1) {
    top: 11.5%;
    box-shadow: 0 10px 30px 0 rgb(44 130 237 / 40%);
}
.analyst__box:nth-child(2) {
    right: 0;
}
.analyst__box:nth-child(3) {
    left: 0;
    bottom: 0;
}
.analyst__box:nth-child(4) {
    bottom: 11.5%;
    right: 0;
}
.analyst__box h6 {
    font-family: quickSandMedium;
    font-size: 18px;
    line-height: 21.6px;
    color: #0E2258;
    margin-top: 22.5px;
}
.analyst__box p {
    font-family: Nunito;
    color: #666666;
    font-size: 15px;
    margin-top: 18px;
}
.achive__button {
    position: absolute;
    bottom: 30%;
    left: 11.5%;
}
.achive__button button {
    color: #0E2258;
    font-size: 13px;
    font-family: Nunito;
    font-weight: 700;
    width: 183px;
    height: 57px;
    border-radius: 30px;
    border:2px #0E2258 solid;
    background-color: white;
    cursor: pointer;
    transition: .3s linear;
}
.achive__button:hover button {
    background-color: #0E2258;
    color: #ffffff;
}